aiohappyeyeballs    
aiohttp    
aiosignal    
altair  
annotated-types    
anyio   
asgiref   
asttokens   
async-timeout   
attrs    
backoff   
bcrypt    
beautifulsoup4   
blinker   
bs4  
build   
cachetools    
certifi  
charset-normalizer   
chroma-hnswlib   
chromadb   
click   
colorama    
coloredlogs    
comm   
contourpy   
cycler    
dataclasses-json  
debugpy   
decorator    
Deprecated  
dirtyjson    
distro  
durationpy   
entrypoints   
exceptiongroup 
executing   
faiss-cpu    
fastapi   
filelock    
flatbuffers    
fonttools   
frozenlist    
fsspec  
gitdb   
GitPython    
google-auth    
googleapis-common-protos    
greenlet    
gritql    
grpcio    
h11    
httpcore    
httptools    
httpx    
httpx-sse    
huggingface-hub    
humanfriendly    
hydralit_components    
idna    
importlib_metadata    
importlib_resources    
ipykernel    
ipython    
jedi    
Jinja2    
jiter    
joblib    
jsonlines    
jsonpatch    
jsonpointer    
jsonschema    
jsonschema-specifications    
jupyter_client    
jupyter_core    
kiwisolver    
kubernetes    
langchain
langchain-cli
langchain-community
langchain-core
langchain-experimental
langchain-huggingface
langchain-nomic   
langchain-ollama
langchain-openai
langchain-text-splitters   
langchainhub
langgraph
langgraph-checkpoint    
langgraph-sdk   
langserve
langsmith
llama-cloud
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-huggingface    
llama-index-embeddings-openai    
llama-index-experimental
llama-index-indices-managed-llama-cloud    
llama-index-legacy    
llama-index-llms-anyscale    
llama-index-llms-langchain   
llama-index-llms-ollama   
llama-index-llms-openai 
llama-index-multi-modal-llms-openai    
llama-index-program-openai   
llama-index-question-gen-openai   
llama-index-readers-file    
llama-index-readers-llama-parse    
llama-index-vector-stores-chroma    
llama-parse    
loguru    
lxml    
markdown-it-py    
MarkupSafe    
marshmallow    
matplotlib    
matplotlib-inline    
mdurl    
mmh3    
monotonic    
mpmath    
msgpack    
multidict    
mypy-extensions    
nest-asyncio    
networkx    
nltk    
nomic    
numpy    
nvidia-cublas-cu12    
nvidia-cuda-cupti-cu12    
nvidia-cuda-nvrtc-cu12    
nvidia-cuda-runtime-cu12    
nvidia-cudnn-cu12    
nvidia-cufft-cu12    
nvidia-curand-cu12    
nvidia-cusolver-cu12    
nvidia-cusparse-cu12    
nvidia-nccl-cu12    
nvidia-nvjitlink-cu12    
nvidia-nvtx-cu12    
oauthlib    
ollama    
onnxruntime    
openai    
opentelemetry-api    
opentelemetry-exporter-otlp-proto-common    
opentelemetry-exporter-otlp-proto-grpc    
opentelemetry-instrumentation    
opentelemetry-instrumentation-asgi    
opentelemetry-instrumentation-fastapi    
opentelemetry-proto    
opentelemetry-sdk    
opentelemetry-semantic-conventions    
opentelemetry-util-http    
orjson    
overrides    
packaging    
pandas    
parso    
pexpect    
pillow    
platformdirs    
plotly    
posthog    
prompt_toolkit    
propcache    
protobuf    
psutil    
ptyprocess    
pure_eval    
pyarrow    
pyasn1    
pyasn1_modules    
pydantic    
pydantic-settings    
pydantic_core    
pydeck    
Pygments    
PyJWT    
PyMuPDF    
pyparsing    
pypdf    
PyPika    
pyproject_hooks    
pysqlite3-binary    
python-dateutil    
python-decouple    
python-dotenv    
pytz    
PyYAML    
pyzmq    
rank-bm25    
referencing    
regex    
requests    
requests-oauthlib    
requests-toolbelt    
rich    
rpds-py    
rsa    
safetensors    
scikit-learn    
scipy    
sentence-transformers    
setuptools    
shellingham    
six    
smmap    
sniffio    
soupsieve    
SQLAlchemy    
sse-starlette    
stack-data    
starlette    
streamlit    
streamlit-aggrid    
streamlit-navigation-bar    
streamlit-option-menu    
striprtf    
sympy    
tabulate    
tenacity    
threadpoolctl    
tiktoken    
tokenizers    
toml    
tomli    
tomlkit    
toolz    
torch    
tornado    
tqdm    
traitlets    
transformers    
triton    
typer
types-requests    
typing-inspect    
typing_extensions    
tzdata    
urllib3    
uvicorn
vega-datasets    
watchdog    
watchfiles    
wcwidth    
websocket-client    
websockets    
wrapt    
yarl    
zipp    
